version: "3.9"

services:
  db:
    image: postgres:16
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    ports:
      - "8081:8080"
    depends_on:
      - db

  price:
    build: ./services/price
    container_name: price-service
    env_file: .env
    depends_on:
      - db
    ports:
      - "8001:8000"   # host:container (so you can hit /health on 8001)

  fundamentals:
    build: ./services/fundamentals
    container_name: fundamentals-service
    env_file: .env
    depends_on:
      - db
    ports:
      - "8002:8000"

  analysis:
    build: ./services/analysis
    container_name: analysis-service
    env_file: .env
    depends_on:
      - db
      - price
      - fundamentals
    ports:
      - "8003:8000"

volumes:
  pgdata:
